<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Bind the PostInterface service contract to the Post model. -->
    <preference for="Study\Blog\Api\Data\PostInterface" type="Study\Blog\Model\Post"/>
    <!-- Bind the PostRepositoryInterface service contract to the concrete PostRepository. -->
    <preference for="Study\Blog\Api\PostRepositoryInterface" type="Study\Blog\Model\PostRepository"/>
</config>
